<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/vue-resource/dist/vue-resource.min.js"></script>

    <title>MBot</title>
</head>

<body>
    <div id="navbar-placeholder"></div>
    <script>
        $(function () {
            $('#navbar-placeholder').load('../templates/navbar.html');
        });
    </script>
    <div id="items">
        <div class="container">
            <div class="row">
                <div class="panel">
                    <h2>Blockierte {{itemname}}n</h2>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{itemname}}</span>
                </div>
                <input v-model="newItem" v-on:keyup.enter="addItem(newItem)" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
                <button v-on:click="addItem(newItem)" class="btn btn-outline-secondary" type="button" id="button-addon2">Hinzufügen</button>
            </div>

            <ul class="list-group">
                <li class="list-group-item" v-for="item in items">
                    <div class=row>
                        <div class="col-lg-10">{{item.field1}}</div>
                        <div class="col-lg-1"><a v-on:click="deleteItem(item)"><i class="far fa-trash-alt"></i></a></div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <script src="blacklists.js"></script>

</body>

</html>